*
!*/
!*.yaml
!.gitignore
!.HA_VERSION
!www/*
!www/*/*
!www/*/*/*
!www/*/*/*/*
www/img/*
!custom_components/*
!custom_components/*/*
*.conf
*.txt
*.log
.storage
.cloud
.google.token
ip_bans.yaml
secrets.yaml
known_devices.yaml
*_unused.yaml